<nav class="nav">
    <button class="navButton">
        <a href="/browse">Browse Database</a>
    </button>
    <button class="navButton">
        <a href="/guides">Guides</a>
    </button>
    <button class="navButton">
        <a href="/compatibility">Fish Compatibility</a>
    </button>
    <button class="navButton">
        <a href="/tank">Build Tank</a>
    </button>
</nav>